div {
  background-image: url('pizza.jpg?a=1&b=2#tag=2');
}

div {
  background-image: url("/absolute.jpg#hash-tag");
}

div {
  background-image: url("../yarn.lock");
}

div {
  background-image: url("/notexist.jpg");
}
div {
  background-image: url("http://img.1caifu.com/absolute.jpg");
  background-image: url("https://img.1caifu.com/absolute.jpg");
}

span {
  background-image: url('data:image/jpg;base64,/9j/ke4uvs');
}
